<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">My App</a>
    <div class="navbar-nav">
      <!-- Regular User Links -->
      <a class="nav-link" *ngIf="authService.isLoggedIn()" routerLink="/page1">Page 1</a>
      <a class="nav-link" *ngIf="authService.isLoggedIn()" routerLink="/page2">Page 2</a>
      
      <!-- Admin Links -->
      <a class="nav-link" *ngIf="authService.isAdmin()" routerLink="/admin/page3">Admin Page 3</a>
      <a class="nav-link" *ngIf="authService.isAdmin()" routerLink="/admin/page4">Admin Page 4</a>
      
      <!-- Auth Links -->
      <a class="nav-link" *ngIf="!authService.isLoggedIn()" routerLink="/login">Login</a>
      <a class="nav-link" *ngIf="!authService.isLoggedIn()" routerLink="/register">Register</a>
      <a class="nav-link" *ngIf="authService.isLoggedIn()" (click)="authService.logout()">Logout</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>